body{
    background-color: #b6a67b;
}

.main-div {
    background-color: rgb(250, 237, 221);
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 9px;
}

button {
    background-color:transparent;
    border: none;
}

.btn-button {
    margin-right: 3px;
    text-decoration: none;
    float: right;

    &_danger{
        color: #c56f6f;
        :hover{
            color: #ff0000;
        }
    }

    &_primary{
        color: #699dd8;
        :hover{
            color: #025ec7;
        }
    }

    &_default{
        color: #d8b569;
        :hover{
            color: #e69f06;
        }
    }

    &_success{
        color: #a2c46d;
        :hover{
            color: #74bb02;
        }
    }
    
}

.main-table {
    width: 100%;

    thead {
        font-size: 2rem;

        tr>th {
            #btn-new {
                float: right;
            }
        }
    }
}

.strike{
    text-decoration: line-through;
    color: #00000086;
}