body{
    background-color: #b6a67b;
}

.main-div {
    background-color: rgb(250, 237, 221);
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 9px;
}

.main-table {
    width: 100%;

    thead {
        font-size: 2rem;

        tr>th {
            // display: flex;
            // justify-content: space-between;
            // align-items: center;

            #btn-new {
                float: right;
            }
        }
    }

    tbody {
        tr>th {}
    }
}
